h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 24px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}


/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.navigations {
  display: flex;
  align-items: center;
}

/* Logo */
.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
}

/* Navigations */
.menu-ul {
  gap: 40px;
  display: flex;
  padding: 24px 0;
}
.menu-li a {
  padding: 24px 0;
}
.active {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.active:hover,
.active:focus {
  color: #404bbf;
}
a:hover,
button:hover,
a:focus,
button:focus {
  color: #404bbf;
}

/* Address */
address {
  font-style: normal;
}
.contact-ul {
  gap: 40px;
  display: flex;
  padding: 24px 0;
}

.mail {
  letter-spacing: 0.02em;
  color: #434455;
}

/* PROMO Section 1 */
.section-promo {
  background-color: #2e2f42;
  padding: 188px 0;
}
.promo-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

/* Bytton */
.btn {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}

/* PECULIARITIES Section 2 */
.section-peculiarities {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  border: 0;
}

.peculiarities-ul {
  display: flex;
  gap: 24px;
}
.peculiarities-li {
  width: calc((100% - 72px) / 4);
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.item-description {
  letter-spacing: 0.02em;
}

/* OUR TEAM Section 3 */
.section-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-ul {
  display: flex;
  gap: 24px;
}
.team-li {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.profile {
  padding: 32px 0;
}
.item-title {
  text-align: center;
  margin-bottom: 8px;
}
.item-description {
  text-align: center;
}

/* PORTFOLIO Section 4 */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
 gap: 24px;
  row-gap: 48px;
 
}
.portfolio-li {
   width: calc((100% - 48px) / 3);
    
}
.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;

}
/* FOOTER */
footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo-span-footer {
  color: #f4f4fd;
}
