body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #fff;
line-height: 24px;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
.section-promo {
    background-color: #2E2F42;
}
.section-team {
    background-color: #F4F4FD;
}

/* Logo */
.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-span {
    color: #2e2f42;

}
/* Navigations */
.active {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.active:hover, .active:focus {
    color: #404bbf;
}
a:hover, button:hover, a:focus, button:focus {
    color: #404bbf;


}
/* Address */
address {
    font-style: normal;
}
.mail {
    letter-spacing: 0.02em;
    color: #434455;
}
/* PROMO Section 1 */
.promo-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
/* Bytton */
.btn {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.btn:hover {
    background-color: #404bbf;
}
.btn:focus {
    background-color: #404bbf;
}
 /* PECULIARITTES Section 2 */
.item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.item-description {
    letter-spacing: 0.02em;
}

/* OUR TEAM Section 3 */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-item {
    background-color: #fff;
}
/* FOOTER */
footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}
.logo-span-footer {
    color: #f4f4fd;
}